<!-- common shared header -->
<app-header>
</app-header>
<!-- page content -->
<div>
  <div>
    <button mat-button (click)="loadTextTranslationFull()">Get Response</button>
    <div>{{r1}}</div>
  </div>
  <div>
    <button mat-button (click)="loadTextTranslationFull()">Get Response Full</button>
    <div>{{r2}}</div>
  </div>
  <div>
    <button mat-button (click)="loadAvailableTranslationLanguages()">Translation available in these languages
    </button>
    <div>{{}}</div>
  </div>
</div>
<!-- common shared footer -->
<app-footer>
</app-footer>
